/* .attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
} */

html, body{
    height:100%;
    margin:0;
    font-family: 'Red Hat Display', sans-serif;
}

.container{
    background-color:hsl(225, 100%, 94%);
    background-image: url("../images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
}

.card{
    /* border: 1px solid green; */
    width: 360px;
    height: 536px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 7px 7px 20px -10px hsl(224, 23%, 55%);
}

#character{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#generalDetails{
    text-align: center;
    width: 296px;
    /* border: 1px solid; */
    margin: auto;
    padding:24px 0px 10px 0px;
}

.miniContainer{
    display: flex;
    flex-direction: column;
}

.priceDetails{
    width: 300px;
    margin: auto;
    height: 73px;
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin-bottom: 9px;
    margin-top: 17px;
}

#icon{
    margin:10px;
    width:40px;
}
#item1{
    margin:10px;
    font-size: 13px;
}
#item2{
    justify-self: flex-end;
    margin-left:75px;
    color:hsl(245, 75%, 52%);
    font-size: 13px;
}

.bold{
    font-weight:900;
}

#largeFont{
    font-size: 20px;
}

.button{
    width:300px;
    height:34px;
    margin:auto;
    border-radius:7px;
    border:none;
    cursor: pointer;
    font-family: 'Red Hat Display', sans-serif;

}

#button1{
    background-color:hsl(245, 75%, 52%);
    color:#fff;
    
}

#button2{

}

#grayColor{
    color: hsl(224, 23%, 55%);
    font-size: 13px;
    position: relative;
    top: 9px;
}

#item2{

}


@media (max-width:540px){
    .container{
        background-image:url("../images/pattern-background-mobile.svg");
    }
}
